body {
    font-family: Roboto, serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    padding: 0px 200px 40px 200px;
    align-items: center;
}

.top-header {
    display: flex;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-link, 
.hero-text,
.hero-button {
    font-size: 18px;
    color: #E5E7EB;
}

.header-link {
    padding: 8px;
    justify-content: flex-end;
    text-decoration: none;
}

.hero-media {
    display: flex;
    padding: 100px 0px;
    gap: 48px;
}

.hero-main-text,
.hero-text,
.hero-button {
    margin: 5px 10px 5px 0px;
    padding: 0px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
}

.hero-content {
    flex: 1 1 50%;
}

.hero-image {
    background-color: #6d747d;
    color: #E5E7EB;
    flex: 1 1 50%;
    justify-content: center;
    text-align: center;
    padding: 100px 0px;
}

.section-1 {
    background-color: white;
}

.header-s1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.s1-cols {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 80px;
}

.s1-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1-box {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.s1-box-text {
    width: 160px;
    text-align: center;
    margin: 5px;
    /* padding: 5px 6px; */
}

.section-2 {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
}

.s2-main-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    margin: 0px;
}

.s2-subtext {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin: 0px;
}

.section-3 {background-color: white;}

.s3-box {
    margin: 80px 200px;
    padding: 40px 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
}

.s3-text-bold {font-size: 24px; margin: 0px;}

.s3-text-normal {font-size: 18px; margin: 0px;}

.s3-button {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 18px;
    color: #E5E7EB;
}